html(data-current-schedule=currentSchedule)
  head
    title Slideshow
    link(rel="stylesheet" href="/common/styles.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(async defer type="text/javascript" src="/common/index.js")

  body
    for img, index in images
      - var classes = (index === 0 ? 'img show' : 'img')
      div(style="background-image: url('/media/"+img+"');" data-cur-slide=index class=classes)
